<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav cclass="top-menu">
            <ul class="menu-main">
                <a href="/" class="current">Главная</a> /
                <a href="/items" class="current">Список товаров</a> /
                <a href="/about" class="current">about</a> /
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
